@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Gujarati:wght@500&display=swap');

header{
    margin: 10px auto;
}
h1{
    font-family: 'Noto Serif Gujarati', serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}
hr{
    margin: 0px 100px;
}
#menu{
    padding: 8px 0px 5px;
}
ul{
    list-style: none;
}
.item__menu{
    float: left;
    margin: 0 15px;
}

a{
    text-decoration: none;
    color: #000000;
}
a:hover{
    color: #000000;
}
ul>li>ul{
    display: none;
    position: absolute;
    margin-left: 0;
}
ul>li:hover>ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #d8d8d8;
    border-radius: 8px;
    margin-right: 10px;
}

.dropdown{
    border-color: white;
}

/* main */
.logo__usuario{
    position:absolute;
    top: 27px;
    right: 130px;
}
.crear-negocio{
    position:absolute;
    top: 29px;
    left: 110px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
}

/* index */
.grid__container{
    margin: 30px 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px ;
    gap: 20px;
}
.categoria{
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    max-width: 290px;
    /* min-width: 185px; */
    background-position: center;
    background-size:cover;
}
.categoria__barberia{
    background-image: url(../images/logo_barberia.png);
}
.categoria__manicura{
    background-image: url(../images/logo_manicura.png);
}
.categoria__maquillaje{
    background-image: url(../images/logo_maquillaje.png);
}
.categoria__estilista{
    background-image: url(../images/logo_estilista.png);
}
.articulos{
    margin: auto 50px 40px;
}
.articulo{
    border: #707475 2px solid;
    border-radius: 10px;
    padding: 3px;
    display: flex;
    margin-top: 20px;
}
.articulo__imagen img{
    width: 160px;
}
.articulo__info{
    padding-left: 15px;
}
.articulo__info p,.articulo__info a{
    padding-left: 5px;
    margin-bottom: 10px;
}

/* footer */
#footer{
    background-color: #B3B6B7;
    width: 100%;
    margin-top: 70px;
}
.footer__info{
    text-align: center;
    padding: 80px;
    padding-top: 59px;
}
.footer__info h5{
    margin-bottom: 10px;
}
.reserva{
    position:absolute;
    top: 270px;
    margin-left: 80px;
    display: inline-block;
}

/* negocio */

.negocio__section{
    padding: 25px 35px;
}

.imagen__negocio{
    height: 400px;
    margin-top: 15px;
    border: 2px solid black;
    border-radius: 15px;
}
.reserva div{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.reserva div label{
    font-size:25px;
}
#confirm-btn{
    width: 170px;
    background-color:#595b5a;
    color:white;
    font-weight:600;
}

/* login */
#arrow__back{
    margin: 10px;
}
.login {
    margin: 20px auto;
    width: 300px;
    border: 4px solid black;
    padding: 1px 20px;
    margin-top: 90px;
}
.login-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px
}

.app-title {
    text-align: center;
    color: #777;
}

.app-title h2{
    font-size: 35px;
}

.login-form {
    text-align: center;
}
.control-group {
    margin-bottom: 10px;
}

.login-btn{
    cursor: pointer;
}

input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}

input:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
}

.btn {
    border: 2px solid transparent;
    background: #3498DB;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
}

.btn:hover {
    background-color: #2980B9;
}

.login-link {
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 12px;
}

/* agregar negocio */

#form_negocio{
    margin: 20px;
}

.input_agregar{
    border: 2px solid #000000;
    display: flex;
    margin: 8px;
}

.check_agregar{
    display: flex;
}
.check_agregar input{
    width: auto;
    margin: 5px;
}