header{
    margin: 10px auto;
}
h1{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}
hr{
    margin: 0px 100px;
}
#menu{
    padding: 8px 0px 5px;
}
ul{
    list-style: none;
}
.item__menu{
    float: left;
    margin: 0 15px;
}

a{
    text-decoration: none;
    color: #000000;
}
a:hover{
    color: #000000;
}
ul>li>ul{
    display: none;
    position: absolute;
    margin-left: 0;
}
ul>li:hover>ul{
    display: block;
    text-align: center;
    background-color: #d8d8d8;
    border-radius: 8px;
    margin-right: 10px;
}
/* main */
.logo__usuario{
    position:absolute;
    top: 27px;
    right: 130px;
}

/* index */
.grid__container{
    margin: 30px 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 150px;
    grid-template-areas: "peluqueria auto auto"
                         "peluqueria auto auto";
    gap: 10px;
}
.categoria{
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;

}
.categoria__peluqueria{
    grid-area: peluqueria;
}
.articulos{
    margin: auto 50px 40px;
}
.articulo{
    border: #707475 2px solid;
    border-radius: 10px;
    padding: 3px;
    display: flex;
    margin-top: 20px;
}
.articulo__imagen img{
    width: 160px;
}
.articulo__info{
    padding-left: 15px;
}
.articulo__info p,.articulo__info a{
    padding-left: 5px;
    margin-bottom: 10px;
}

/* footer */
#footer{
    background-color: #B3B6B7;
    width: 100%;
}
.footer__info{
    text-align: center;
    padding: 80px;
    padding-top: 59px;
}



/* login */
#arrow__back{
    margin: 10px;
}
.login {
    margin: 20px auto;
    width: 300px;
    border: 4px solid black;
    padding: 1px 20px;
    margin-top: 90px;
}
.login-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px
}

.app-title {
    text-align: center;
    color: #777;
}

.login-form {
    text-align: center;
}
.control-group {
    margin-bottom: 10px;
}

input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}

input:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
}

.btn {
    border: 2px solid transparent;
    background: #3498DB;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
}

.btn:hover {
    background-color: #2980B9;
}

.login-link {
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 12px;
}
